.content{
    width: 100vw;
    height: 100vh;
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:10em;
        font-weight: bold;
    }
    p:nth-child(2){
        z-index: -1;
        top: 50.2%;
        left: 50.2%;
        color: #FF00C4;
    }
}

@media only screen and (max-width: 800px) {
    p{
        font-size:5em !important;
    }
  }
  @media only screen and (max-width: 400px) {
    p{
        font-size:3em !important;
    }
  }