.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: WEnter, GoUp;
        animation-delay: 0s, 1s;
        animation-duration: 1s, 1s;
        animation-fill-mode: forwards;
        &#second{
            color: #FF00C4;;
            font-size: 2.02em;
            z-index: -1;
        }
    }
    .gallery{
        width: 90vw;
        height: 70vh;
        position: absolute;
        bottom: 0%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%,0);
        animation: GalleryAppear 1s 1s forwards;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &::-webkit-scrollbar{
            opacity: 0;
        };
        img{
            margin: 1em;
            height: 200px;
            transition: 1s;
            box-sizing: border-box;
            opacity: 0.7;
            &:hover{
                height: 310px;
                opacity: 1;
            }
        }
    }
}
@keyframes GalleryAppear{
    0%{
        height: 0;
    }
    100%{
        height: 70vh;
        opacity: 1;
    }
}






@keyframes WEnter{
    0%{
        transform: translate(-50%, -50%) scale(0);
    }
    50%{
        transform: translate(-50%, -50%) scale(1);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes GoUp{
    0%{
        top: 50%;
    }
    100%{
        top: 25%;
    }
}